<div class="theme-layout">

  <section>
    <div class="page-header">
      <div class="header-inner">
        <h2>Do you forget your password?</h2>
        <p>
          Find your password to discover what's happening right now in the world.
        </p>
      </div>
      <figure><img src="assets/images/resources/baner-forum.png" alt=""></figure>
    </div>
  </section><!-- sub header -->

  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-lg-1 col-lg-10">
            <div class="row border-center">
              <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="logout-f">
                  <h4><i class="fa fa-envelope"></i> Send Email</h4>
                  <p>Please enter Account Name to receive your new password</p>
                  <div class="logout-form">
                    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="again-login">
                      <input type="text" placeholder="Account Name" formControlName="accountName">
                      <button type="submit" [disabled]="recoverForm.invalid">Send</button>
                    </form>
                    <a href="#" title="">Create New Signup</a>
                    <p>By clicking Sign Up, you agree to our <a href="#" title="">Terms & Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© C10Tinder 2020. All rights reserved.</span>
          <i><img src="assets/images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-wraper6">
  <div class="popup login">
    <span class="popup-closed"><i class="ti-close"></i></span>
    <div class="popup-meta">
      <div class="popup-head">
        <h5><i class="ti-key"></i> Login to Pitnik</h5>
      </div>
      <div class="login-frm">
        <input type="text" placeholder="User Name">
        <input type="password" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked"><i class="check-box"></i>Remember Password
          </label>
        </div>
        <button data-ripple="" type="submit" class="main-btn">Login</button>
        <a href="#" title="">Forgotten password?</a>
      </div>
    </div>
  </div>
</div><!-- upload popup -->
