<div class="theme-layout">
  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
              <div class="col-lg-12 pb-4">
                <div>
                  <label for="inputName">Name:</label>
                  <input type="text" (keydown.enter)="doSearchName()" [(ngModel)]="name" class="form-control"
                         id="inputName" placeholder="">
                </div>
                <div class="container p-0" id="myDIV" style="display: none">
                  <div class="form-row">
                    <div class="col-6">
                      <label for="inputBirthday">Birthday:</label>
                      <select [(ngModel)]="selectedYear" (change)="selectedBirthday()"
                              class="form-control d-inline-block"
                              id="inputBirthday">
                        <option>Not select</option>
                        <option *ngFor="let item of listBirthYear" [ngValue]="item">{{item}}</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <label for="inputGender">Gender:</label>
                      <select [(ngModel)]="selectedGender" (change)="selectGender()" class="form-control d-inline-block"
                              id="inputGender">
                        <option>Not select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                      </select>
                    </div>
                  </div>

                  <div>
                    <label for="inputAddress">Province/City:</label>
                    <select [(ngModel)]="selectedProvince" (change)="selectProvince()"
                            class="form-control d-inline-block"
                            id="inputAddress">
                      <option>Not select</option>
                      <option *ngFor="let item of listProvince"
                              [ngValue]="item.provinceName">{{item.provinceName}}</option>
                    </select>
                  </div>

                  <div>
                    <label for="inputOccupation">Occupation:</label>
                    <input type="text" class="form-control" id="inputOccupation" placeholder="">
                  </div>

                  <div>
                    <label for="inputInterests">Favourites: </label>
                    <div class="form-check form-check-inline" *ngFor="let favourite of listFavourites;let i = index"
                         id="inputInterests">
                      <input class="form-check-input" type="checkbox" id="inputInterests{{i}}"
                             (input)="addFavourite($event.target.checked, favourite)">
                      <label class="form-check-label" for="inputInterests{{i}}">{{favourite}}</label>
                    </div>
                  </div>
                </div>
                <div class="float-left pt-3">
                  <button onclick="myFunctionAdvancedSearch()" class="btn btn-outline-info">Advanced Search</button>
                </div>
                <div class="pt-3 float-right">
                  <button (click)="doSearchName()" class="btn btn-outline-primary">Search</button>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="search-tab">
                  <div class="tab-content">
                    <div class="tab-pane active fade show " id="All">
                      <div class="central-meta item">
                        <span class="create-post">People<a title="" href="#">See All</a></span>
                        <div class="pit-friends" *ngFor="let user of listUser">
                          <figure><a href="#" title=""><img
                            src="../../../assets/images/resources/searching1.jpg" alt=""></a></figure>
                          <!--                            src="{{user.userAvatar}}" alt=""></a></figure>-->
                          <div class="pit-frnz-meta">
                            <a href="#" title="">{{user.userName}}</a>
                            <i>{{user.address}}</i>
                            <ul class="add-remove-frnd">
                              <li class="add-tofrndlist">
                                <a title="Add friend" href="#"><i
                                  class="fa fa-user-plus"></i></a>
                              </li>
                              <li class="remove-frnd">
                                <a title="Send Message" href="#"><i
                                  class="fa fa-comment"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div><!-- searched peoples -->
                      <div class="central-meta item">
                                                <span class="create-post">Recommend Friends<a title=""
                                                                                              href="#">See All</a></span>
                        <div class="pit-friends" *ngFor="let user of listRecommendation">
                          <figure><a href="#" title=""><img
                            src="../../../assets/images/resources/searching1.jpg" alt=""></a></figure>
                          <!--                            src="{{user.userAvatar}}" alt=""></a></figure>-->
                          <div class="pit-frnz-meta">
                            <a href="#" title="">{{user.userName}}</a>
                            <i>{{user.address}}</i>
                            <ul class="add-remove-frnd">
                              <li class="add-tofrndlist">
                                <a title="Add friend" href="#"><i
                                  class="fa fa-user-plus"></i></a>
                              </li>
                              <li class="remove-frnd">
                                <a title="Send Message" href="#"><i
                                  class="fa fa-comment"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div><!-- recommend peoples -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
